<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default suite">
	
	<listeners>
		<listener class-name="com.Util.ExtentReporter"></listener>
	</listeners>

	<test name="Google account add test">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.Tests.AddAccountTest" />
		</classes>
	</test> <!-- Default test -->
</suite> <!-- Default suite -->